* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10px !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #fffffff8;
}

.body-bg {
    background-color: #f8f8f8;
    background-image: url(../images/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.body-bg .row {
    margin-right: 0px;
    margin-left: 0px;
    --bs-gutter-x: 0rem;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

ul>li {
    list-style-type: none;
}

input[type="text"]:hover,
input[type="password"]:hover {
    outline: none !important;
}


/* 头部导航栏 */

.header-sm {
    width: 100% !important;
    height: 8rem;
    line-height: 8rem;
    box-shadow: 0px 3px 5px #ccc;
    background-color: rgba(255, 255, 255, 0.9);
}

.header-sm button {
    outline: none;
    border: none;
    font-size: inherit;
    background-color: transparent;
}

.header-sm ul li,
.header-sm ul li a {
    text-align: center;
}

.header {
    width: 100% !important;
    height: 8rem;
    line-height: 8rem;
    box-shadow: 0px 3px 5px #ccc;
    background-color: rgba(255, 255, 255, 0.9);
}

.header .head-box {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
}

.header .colorBlock {
    color: #000000;
}


/* 二级菜单栏 */

.user-boxdropdown {
    z-index: 99;
    background-color: #fff;
    width: 25rem;
    position: absolute;
    top: 7.5rem;
    left: -9rem;
    border-radius: 1rem;
    padding-bottom: 15px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    display: none;
}


/* 让图片和文字居中 */

.user-imgbox {
    position: relative;
    text-align: center;
}


/* 设置图片盒子的大小*/

.user-boxdropdown .headerimg-two {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    /* 图片居中 设置了dispaly:table-cell属性后，元素将忽略margin值 */
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    position: relative;
}


/* 设置图片的大小和位置 */

.user-boxdropdown .headerimg-two a {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -4rem;
    box-shadow: 0px 3px 5px #969696;
}

.user-boxdropdown .headerimg-two a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-boxdropdown .user-imgbox p {
    height: 3.5rem;
    line-height: 3.5rem;
    display: block;
    color: #E72463;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.user-boxdropdown ul li {
    height: 4rem;
    line-height: 4rem;
}

.user-boxdropdown ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.user-boxdropdown ul li a,
.user-boxdropdown ul li a i {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.user-boxdropdown ul li:hover {
    background-color: #e9e9e9;
}

.hr-line {
    margin: 5px 0px;
}

.hadmain-nav>ul>.li-head {
    width: 5rem;
}

.hadmain-nav>ul>li:hover .headerimg {
    visibility: hidden;
}

.hadmain-nav>ul>li:hover .user-boxdropdown {
    display: block;
    animation: jelly 0.5s;
}

.main-nav>ul>li:hover .dropdown-hover-2 {
    visibility: visible;
    opacity: 1;
    top: 100%;
    animation: jelly 0.5s;
}


/* 输入框的文字提示样式 */

input::placeholder {
    font-size: 13px;
    letter-spacing: 2px;
}


/* 登录盒子 */

.content-center {
    margin: auto;
    margin-top: 8rem;
    padding: 2rem 8rem;
    width: 64rem;
    height: 52rem;
    box-sizing: border-box;
    box-shadow: 0px 5px 8px #ccc;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.85);
}

.btnlogreg {
    outline: none;
    border: none;
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    font-size: 14px;
}

.btnlogreg:hover, .btnlogreg:focus {
    color: rgb(9, 199, 9);
}

/* 装文本框的盒子高度 */
.content-center .my-md-3 {
    height: 6rem;
    line-height: 6rem;
}


/* 文本框高度 */
.content-center .form-control {
    height: 4rem;
    line-height: 4rem;
}

.content-center .form-control:focus {
    font-size: 16px;
    letter-spacing: 1px;
    border-color: rgba(9, 199, 9, 0.5);
    box-shadow: inset 0 1px 1px rgba(2, 2, 2, 0.1), 0 0 8px rgba(9, 199, 9, 0.5);
}

.content-center>div>button {
    height: 4.5rem;
    line-height: 4.5rem;
}

.content-center .btn {
    padding: 0rem 0rem;
}

.content-center .btn.btn-success {
    background-color: rgb(9, 199, 9);
}

.content-center .btn.btn-success:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.content-center>.row>div:nth-child(1),
.p-right {
    color: rgb(119, 119, 119);
    font-size: 16px;
    text-align: right;
    align-items: center;
    /* 字体间距 */
    letter-spacing: 3px;
}

.p-right>* {
    cursor: pointer;
}


/* 字体垂直居中 */
.txt-middle {
    display: table-cell;
    vertical-align: middle;
}


/* 验证码 */
.p-txt {
    height: 3rem;
    line-height: 3rem;
}

.pw-100 {
    width: 10rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border: 1px #ccc solid;
    padding-left: 8px;
}


/* 获取验证码 */

.pw-60 {
    width: 8rem;
    height: 3.5rem;
    line-height: 3.5rem;
    color: white;
    background-color: rgb(9, 199, 9);
    border: 0px;
    cursor: pointer;
    padding: 0px 0px !important;
    margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);
}

.content-center .btn.btn-success:hover,
.pw-60:hover {
    background-color: rgba(9, 199, 9, 0.9);
    box-shadow: 0px 0px 2px rgba(9, 199, 9, 0.6);
    transition: 0.3s;
}
.lineheight3{
    height: 3px !important;
    line-height: 3px !important;
    border: none;
}
.p-h20 {
    height: 20px;
    line-height: 20px;
}

.p-h20>* {
    color: rgb(99, 99, 99);
    cursor: pointer;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.my-23 {
    margin: 23px 0px !important;
}

.bg-white {
    background-color: white;
}

.b-radius1 {
    border-radius: 1rem !important;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.h-10 {
    height: 10rem !important;
}

.h-10 {
    height: 10rem !important;
}

.h-15 {
    height: 15rem !important;
}

/* 取消边距 */
.clearPM {
    padding: 0px !important;
    margin: 0px !important;
}

.clearPx {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.clearPy {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.clearMx {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.clearMy {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.clearPxMx {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.clearPyMy {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.border-1 {
    border: 1px solid #dddddd;
}

.user-select {
    /* 用户不可选中文字 */
    user-select: none;
}

/* 显示一行文字超出隐藏 */
.text-show-1 {
    /* 超出隐藏 */
    overflow: hidden;
    /* 查出部分使用...代替 */
    text-overflow: ellipsis;
    /* 文字过长换行,防止一些特殊情况不换行 */
    word-wrap: break-word;
    word-break: break-all;
    /* 将对象作为弹性伸缩盒子模型显示 */
    display: -webkit-box;
    /* 从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
    -webkit-box-orient: vertical;
    /* 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数 */
    -webkit-line-clamp: 1;
}


/* 显示两行文字超出隐藏 */

.text-show-2 {
    /* 超出隐藏 */
    overflow: hidden;
    /* 查出部分使用...代替 */
    text-overflow: ellipsis;
    /* 文字过长换行,防止一些特殊情况不换行 */
    word-wrap: break-word;
    word-break: break-all;
    /* 将对象作为弹性伸缩盒子模型显示 */
    display: -webkit-box;
    /* 从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
    -webkit-box-orient: vertical;
    /* 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数 */
    -webkit-line-clamp: 2;
}


/* 显示两行文字超出隐藏 */

.text-show-3 {
    /* 超出隐藏 */
    overflow: hidden;
    /* 查出部分使用...代替 */
    text-overflow: ellipsis;
    /* 文字过长换行,防止一些特殊情况不换行 */
    word-wrap: break-word;
    word-break: break-all;
    /* 将对象作为弹性伸缩盒子模型显示 */
    display: -webkit-box;
    /* 从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
    -webkit-box-orient: vertical;
    /* 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数 */
    -webkit-line-clamp: 3;
}


/* 显示两行文字超出隐藏 */

.text-show-5 {
    /* 超出隐藏 */
    overflow: hidden;
    /* 查出部分使用...代替 */
    text-overflow: ellipsis;
    /* 文字过长换行,防止一些特殊情况不换行 */
    word-wrap: break-word;
    word-break: break-all;
    /* 将对象作为弹性伸缩盒子模型显示 */
    display: -webkit-box;
    /* 从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
    -webkit-box-orient: vertical;
    /* 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数 */
    -webkit-line-clamp: 5;
}

.text-2 {
    text-indent: 2em;
}

.main-nav .nav>li>a:hover,
.main-nav .nav>li>a:focus {
    background-color: rgba(255, 255, 255, 0) !important;
}


/* 选择框---记住密码 */
.check-position {
    position: relative;
    top: 3px;
}


/* 搜索框 */
.search-xbox {
    width: 100%;
    height: 8rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.search-xbox .searchCon-box {
    display: flex;
    justify-content: center;
}

.search-xbox .searchCon-box .search-text {
    width: 35%;
    height: 4.5rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1px solid #ccc;
}

.search-xbox .searchCon-box .search-btn {
    width: 8%;
    height: 4.5rem;
    border: none;
    outline: none;
    background-color: #E72463;
    color: white;
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.search-xbox .searchCon-box .search-text:hover {
    box-shadow: 0px 0px 3px 0px rgba(255, 25, 25, 0.6);
}

.search-xbox .searchCon-box .search-btn:hover {
    background-color: rgba(231, 36, 99, 0.8);
}


/* 主体内容 */
.content {
    margin-top: 0px;
    height: auto;
}


/* 轮播 */
.Carousel-bg {
    margin: auto;
    /* background: linear-gradient(90deg, #7aff68 25%, #ff5f9c 50%, #ff3434 75%, #38ff49 100%); */
}

#MyCarousel {
    margin: auto;
    width: 80%;
    height: auto;
    border-radius: .5rem;
    overflow: hidden;
}

#MyCarousel .item a,
#MyCarousel img,
#MyCarousel a img {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* 菜单导航栏 */
.content-menu {
    width: 100%;
    height: auto;
}

.content-menu .menu {
    height: 6rem;
    line-height: 6rem;
    background: linear-gradient(60deg, rgb(255, 99, 71) 0%, rgb(255, 235, 60) 30%);
}

.content-menu .menu ul {
    width: 75%;
    height: 100%;
    margin: auto;
}

.content-menu .menu ul li {
    display: inline-block;
}

.content-menu .menu ul li .menu-title2 {
    display: none;
}

.content-menu .menu ul li a {
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    /* 用户不可选中文字 */
    user-select: none;
}

.content-menu .menu ul li a:hover {
    animation: jelly 0.5s;
}


/* 内容 */

.content .content-list {
    width: 80%;
    margin: auto;
}

.w-100 {
    width: 100% !important;
}

/* 页面商品的盒子 */
.content .content-list .Product-box, .product-area .single-product {
    box-shadow: 0px 3px 10px 0px rgb(230, 230, 230);
    background-color: #ffffff;
    border-radius: 0.75rem;
    overflow: hidden;
}

.content .content-list .Product-box:hover,
.shop_wrapper .product-item:hover {
    box-shadow: 0px 3px 20px 0px rgb(210, 210, 210);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    transform: translateY(-8px);


}


/* 商品图片 */
.content .content-list .product-image.position-relative a img {
    border-radius: 0.5rem;
    overflow: hidden;
}

.content .content-list .likeimg .product-image.position-relative a img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    overflow: hidden;
}

.content .content-list div .product-image-2 {
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.content .content-list div .product-image-1:hover {
    opacity: 0;
}

.content .content-list .product-image:hover .product-image-2 {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.single-product .Product-box:hover .product-image .product-image-2 {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

/* 商品名称 */
.content .content-list .Product-title {
    height: auto;
}

.content .content-list .Product-title .p-title, .Product-title .p-title {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.6rem;
    color: #000;
    font-weight: bolder;
}

.content .content-list .Product-title .p-desc, .Product-title .p-desc {
    height: auto;
    min-height: 3.2rem;
    line-height: 1.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}

.product-title .desc-content{
    height: 3.2rem;
    line-height: 1.6rem;

}

/* 商品评分 */
.content .content-list .Product-rating,
.product-area .single-product .product-content .product-rating {
    height: 2rem;
    line-height: 2rem;
}

.content .content-list .Product-rating i {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #E72463;
}

.content .content-list .Product-rating span {
    display: none;
}

.content .content-list .Product-rating .sale-num,.sale-num {
    font-style: oblique;
    color: #E72463;
}


/* 商品价格 */

.Price-box span,
.Price-box span del {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
}

.Price-box .regular-price {
    font-size: 1.5rem;
    color: #E72463;
}

.Price-box .old-price {
    font-size: 1rem;
    color: rgb(66, 66, 66);
    text-align: center;
}

.Price-box .sale-num {
    font-style: oblique;
    color: #E72463;
}


/* 加入购物车按钮 */

.btn-box button {
    /* 去除按钮的边框 */
    border: none;
    /* 去除默认样式 */
    outline: none !important;
}

.btn-box i {
    color: white;
}

.btn-box .btn-Heart, .btn-box .btn-pay {
    background-color: #e72463;
    box-shadow: none !important;
}

.btn-box .btn-Heart:hover {
    background-color: rgba(231, 36, 99, 0.9);
    box-shadow: 1px 1px 3px 0px #E72463 !important;
}

.btn-box .btn-Cart {
    background-color: #000;
    box-shadow: none !important;
}

.btn-box .btn-Cart:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 1px 1px 3px 0px #000 !important;
}

.btn-box .btn-cancel {
    border: 1px solid #ccc !important;
    background-color: white;
}

.btn-box .btn-cancel i {
    color: #000000;
}

.btn-box .btn-cancel:hover {
    background-color: #f8f8f8;
    box-shadow: 1px 1px 3px 0px #dedede !important;
}

.addactive {
    background-color: red !important;
}

/* 分页 */

.page-box {
    width: 80%;
    margin: auto;
}

.page-number {
    width: 5rem;
    height: auto;
    text-align: center;
    border: 2px solid rgb(99, 99, 99);
    border-radius: 6px;
}


/* 分页按钮 */

.btn-Page {
    padding: 5px 16px;
    border: 1px #ccc;
    border-radius: 6px;
    background-color: #E72463;
    color: white;
}

.btn-Page:hover {
    box-shadow: 0px 0px 3px #f8467e !important;
    animation: Jelly 0.5s;
}

.a-active {
    background-color: #E72463 !important;
    color: white !important;
}

.body-up {
    position: fixed;
    right: 5rem;
    bottom: 10rem;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 3rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 3px 10px 0px #ccc;
}

.body-up:hover {
    color: white;
    background-color: #E72463;
    box-shadow: 0px 5px 12px 0px rgba(231, 36, 99, 0.6);
    animation: jelly 0.5s;
}

.accordion .card-header {
    background-color: #E72463;
    color: white;
}

.accordion .card-header .btn {
    color: white;
    outline: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.shop-introduce {
    margin: 3rem 0rem;
}

/* 按钮果冻效果 */

.animation-jelly button:hover,
.animation-jelly a:hover,
.animation-jelly .fa:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}

.jelly {
    animation: jelly 0.5s;
}


/* button:active {
    cursor: pointer;
    animation: jelly 0.5s;
}
button:focus {
    cursor: pointer;
    animation: jelly 0.5s;
} */

@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    33% {
        transform: scale(0.9, 1.1);
    }

    66% {
        transform: scale(1.1, 0.9);
    }
}

@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25%,
    75% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }
}

@media (max-width: 480px) {
    .hadmain-nav>ul>.li-head {
        margin: 0rem 2rem;
    }

    .Price-box.mb-5 {
        margin-bottom: 1rem !important;
    }

    .user-boxdropdown {
        width: 20rem;
        top: 8rem;
        left: 1rem;
    }

    /* 登录盒子 */
    .content-center {
        margin: auto;
        margin-top: 8rem;
        padding: 2rem 1rem;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        box-shadow: 0px 5px 8px #ccc;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.85);
    }

    /* 装文本框的盒子高度 */
    .content-center .my-md-3 {
        height: 6rem;
        line-height: 6rem;
    }

    .content-center>div>button {
        height: 3.5rem;
        line-height: 3.5rem;
    }

    .content-center>.row>div:nth-child(1),
    .p-right {
        color: rgb(119, 119, 119);
        font-size: 15px;
        text-align: right;
        align-items: center;
        /* 字体间距 */
        letter-spacing: 2px;
    }

    /* 头部导航文字 */
    .header-title {
        display: none;
    }

    /* 搜索框 */
    .search-xbox {
        width: 100%;
        height: 6rem;
        margin: 1rem;
    }

    .search-xbox .searchCon-box .search-text {
        width: 20rem;
        height: 4rem;
        padding-left: 1rem;
        font-size: 1.6rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border: 1px solid #ccc;
    }

    .search-xbox .searchCon-box .search-btn {
        width: 8rem;
        height: 4rem;
        border: none;
        outline: none;
        background-color: #E72463;
        color: white;
        font-size: 1.6rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    /* 菜单导航栏 */
    .content-menu .menu ul {
        width: 100% !important;
    }

    .content-menu .menu ul .menu-title1 {
        display: none;
    }

    .content-menu .menu ul .menu-title2 {
        display: inline-block !important;
    }

    /* 商品评分 */
    .content .content-list .Product-rating i, .product-rating i {
        font-size: 13px !important;
        color: #E72463;
    }

    .content .content-list .Product-rating span, .Product-rating span{
        font-size: 0.75rem !important;
        padding-right: 0px !important;
        display: inline-block;
    }

    .product-area .single-product .product-content {
        background-color: #ffffff;
        padding: 1rem 0.5rem !important;
        text-align: left;
    }

    /* 分页 */
    .page-box {
        width: 100% !important;
        margin: auto;
        padding: 0px 5px;
    }

    .pagination .fs-18 {
        font-size: 12px !important;
    }

    .pagination-lg>li>a,
    .pagination-lg>li>span {
        padding: 5px 10px !important;
        font-size: 12px;
        line-height: 1.5;
    }

    .page-number {
        width: 3rem;
        height: auto;
        text-align: center;
        border: 2px solid rgb(99, 99, 99);
        border-radius: 5px;
        margin: 0px 1px !important;
    }

    /* 分页按钮 */
    .btn-Page {
        padding: 2px 8px;
        border: 1px #ccc;
        border-radius: 5px;
        background-color: #337ab7;
        color: white;
    }


    /* 商品的销量 */
    .Price-box .float-end {
        display: none;
    }

    /* 购物车按钮 */
    .btn-box .btn-Heart,
    .btn-box .btn-Cart {
        font-size: 1rem;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .text-xxl-start {
        text-align: left !important;
    }

    .text-xxl-end {
        text-align: right !important;
    }

    .mx-md-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .my-md-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .my-md-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

    .my-md-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .my-md-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .my-md-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    .my-md-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .d-xs-none {
        display: none !important;
    }

    .btn {
        font-size: 12px !important;
    }
}

@media (max-width: 800px) {}

@media (max-width: 1000px) {

    /* 商品的销量 */
    .Price-box .float-end {
        display: none;
    }

    /* 商品的销量 */
    .content .content-list .Product-rating span {
        font-size: 0.75rem !important;
        padding-right: 0px !important;
        display: inline-block;
    }

    .text-xxl-start {
        text-align: left !important;
    }

    .text-xxl-end {
        text-align: right !important;
    }

    .mx-md-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .my-md-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .my-md-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

    .my-md-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .my-md-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .my-md-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    .my-md-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
}