USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 2022/7/4 17:52:38 ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'D:\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'D:\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [nvarchar](100) NOT NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](1000) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserEmail] [nvarchar](50) NULL,
	[Sex] [nchar](4) NOT NULL,
	[Age] [int] NULL,
	[Introduce] [nvarchar](200) NULL,
	[Address] [nvarchar](50) NULL,
	[Birthday] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UserType] [int] NOT NULL,
	[UserState] [int] NOT NULL,
	[AddDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopProductStarRating]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopProductStarRating](
	[StarNum] [decimal](5, 2) NOT NULL,
	[StarDesc] [nvarchar](50) NULL,
	[Star1] [nvarchar](200) NULL,
	[Star2] [nvarchar](200) NULL,
	[Star3] [nvarchar](200) NULL,
	[Star4] [nvarchar](200) NULL,
	[Star5] [nvarchar](200) NULL,
	[StarType] [int] NULL,
	[StarOrder] [int] NULL,
 CONSTRAINT [PK_ProductStarRating] PRIMARY KEY CLUSTERED 
(
	[StarNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductComment]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductComment](
	[CommentID] [int] IDENTITY(1001,1) NOT NULL,
	[UserID] [nvarchar](100) NOT NULL,
	[ShopID] [nvarchar](50) NULL,
	[ProductID] [nvarchar](100) NOT NULL,
	[CommentTxt] [text] NOT NULL,
	[CommentStarNum] [decimal](5, 2) NOT NULL,
	[CommentType] [int] NOT NULL,
	[CommentState] [int] NOT NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ShopComment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCommentImage]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCommentImage](
	[ComImgID] [int] IDENTITY(1001,1) NOT NULL,
	[CommentID] [int] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[ComImgPath] [nvarchar](1000) NOT NULL,
	[ComImgSize] [nvarchar](50) NOT NULL,
	[ComOrderby] [int] NOT NULL,
	[ComState] [int] NOT NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductCommentImage] PRIMARY KEY CLUSTERED 
(
	[ComImgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserImageList]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserImageList](
	[ID] [int] IDENTITY(1001,1) NOT NULL,
	[ImgID] [nvarchar](100) NOT NULL,
	[UserID] [nvarchar](100) NOT NULL,
	[UserImagePath] [nvarchar](1000) NOT NULL,
	[ImgSize] [nvarchar](200) NULL,
	[ImgWidth] [int] NULL,
	[ImgHeight] [int] NULL,
	[ImgState] [int] NOT NULL,
	[ImgType] [int] NOT NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserImage] PRIMARY KEY CLUSTERED 
(
	[ImgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCommentLike]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCommentLike](
	[LikeID] [int] NOT NULL,
	[CommentID] [int] NULL,
	[CommreplyID] [int] NULL,
	[UserID] [nvarchar](100) NULL,
	[AddDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SupUserCommentView]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SupUserCommentView]
AS
SELECT  dbo.Users.UserID, dbo.Users.Account, dbo.Users.UserName, dbo.Users.Sex, dbo.Users.Age, dbo.Users.Introduce, 
                   dbo.UserImageList.ImgID, dbo.UserImageList.UserImagePath, dbo.UserImageList.ImgSize, dbo.UserImageList.ImgWidth, 
                   dbo.UserImageList.ImgHeight, dbo.UserImageList.ImgState, dbo.UserImageList.ImgType, 
                   dbo.ProductComment.CommentID, dbo.ProductComment.ShopID, dbo.ProductComment.ProductID, 
                   dbo.ProductComment.CommentTxt, dbo.ProductComment.CommentStarNum, dbo.ProductComment.CommentType, 
                   dbo.ProductComment.CommentState, dbo.ProductComment.AddDate, ShopProductStarRating_1.StarNum, 
                   ShopProductStarRating_1.StarDesc, ShopProductStarRating_1.Star1, ShopProductStarRating_1.Star2, 
                   ShopProductStarRating_1.Star3, ShopProductStarRating_1.Star4, ShopProductStarRating_1.Star5, 
                   ShopProductStarRating_1.StarType, ShopProductStarRating_1.StarOrder,
                       (SELECT  COUNT(*) AS Expr1
                        FROM       dbo.ProductCommentLike
                        WHERE    (CommentID = dbo.ProductComment.CommentID)) AS CommentLike, dbo.ProductCommentImage.ComImgID, 
                   dbo.ProductCommentImage.ComImgPath, dbo.ProductCommentImage.ComImgSize, 
                   dbo.ProductCommentImage.ComOrderby, dbo.ProductCommentImage.ComState
FROM      dbo.Users INNER JOIN
                   dbo.UserImageList ON dbo.Users.UserID = dbo.UserImageList.UserID INNER JOIN
                   dbo.ProductComment ON dbo.Users.UserID = dbo.ProductComment.UserID INNER JOIN
                   dbo.ShopProductStarRating AS ShopProductStarRating_1 ON 
                   dbo.ProductComment.CommentStarNum = ShopProductStarRating_1.StarNum INNER JOIN
                   dbo.ProductCommentImage ON dbo.ProductComment.CommentID = dbo.ProductCommentImage.ComImgID
GO
/****** Object:  Table [dbo].[ProductCart]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCart](
	[CartID] [int] IDENTITY(1001,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[ProductCartNum] [int] NOT NULL,
	[ProductPrice] [decimal](18, 2) NULL,
	[CartType] [int] NOT NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ShopCar] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ImgID] [int] IDENTITY(1001,1) NOT NULL,
	[ShopID] [nvarchar](100) NULL,
	[ProductID] [nvarchar](100) NULL,
	[ImgType] [nvarchar](20) NULL,
	[ImgName] [nvarchar](50) NULL,
	[ImgPath] [nvarchar](1000) NULL,
	[ImgSize] [nvarchar](50) NULL,
	[ImgOrderby] [int] NULL,
	[ImgState] [int] NOT NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[ImgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1001,1) NOT NULL,
	[ProductID] [nvarchar](100) NOT NULL,
	[ShopID] [nvarchar](100) NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductType] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[ActivityPrice] [decimal](18, 2) NULL,
	[discount] [decimal](5, 2) NULL,
	[discountType] [int] NULL,
	[ProductNum] [int] NULL,
	[ProductIntroduce] [nvarchar](500) NULL,
	[ProductStarNum] [decimal](5, 2) NULL,
	[ProductState] [int] NULL,
	[ProductStock] [int] NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SupUserProductCartView]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SupUserProductCartView]
AS
SELECT  dbo.Users.UserID, dbo.ProductCart.CartID, dbo.ProductCart.ProductCartNum, dbo.ProductCart.ProductID, 
                   dbo.ProductCart.ProductPrice, dbo.ProductCart.CartType, dbo.Product.ShopID, dbo.Product.ProductName, 
                   dbo.Product.ProductType, dbo.Product.Price, dbo.Product.ActivityPrice, dbo.Product.discount, dbo.Product.discountType, 
                   dbo.Product.ProductNum, dbo.Product.ProductIntroduce, dbo.Product.ProductStarNum, dbo.Product.ProductState, 
                   dbo.Product.ProductStock, dbo.Product.AddDate,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 1)) AS ImgPath1,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 2)) AS ImgPath2
FROM      dbo.Users INNER JOIN
                   dbo.ProductCart ON dbo.Users.UserID = dbo.ProductCart.UserID INNER JOIN
                   dbo.Product ON dbo.ProductCart.ProductID = dbo.Product.ProductID
GO
/****** Object:  Table [dbo].[ShopProductTypes]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopProductTypes](
	[ProductType] [int] NOT NULL,
	[ProductTypeName] [nvarchar](50) NULL,
	[ProductDesc] [nvarchar](50) NULL,
	[TypeName] [nvarchar](20) NULL,
 CONSTRAINT [PK_ShopTypes] PRIMARY KEY CLUSTERED 
(
	[ProductType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[ID] [int] IDENTITY(1001,1) NOT NULL,
	[ShopID] [nvarchar](100) NOT NULL,
	[UserID] [nvarchar](100) NOT NULL,
	[ShopName] [nvarchar](200) NOT NULL,
	[ShopIntroduce] [nvarchar](500) NOT NULL,
	[ShopAddress] [nvarchar](500) NOT NULL,
	[ShopMobile] [nvarchar](11) NOT NULL,
	[ShopBoss] [nvarchar](50) NOT NULL,
	[ShopOpenTime] [nvarchar](200) NULL,
	[ShopStarNum] [decimal](5, 2) NOT NULL,
	[ShopType] [int] NULL,
	[ShopState] [int] NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Shop_1] PRIMARY KEY CLUSTERED 
(
	[ShopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SuperProductView]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SuperProductView]
AS
SELECT  dbo.Product.ID, dbo.Product.ProductID, dbo.Product.ShopID, dbo.Product.ProductName, dbo.Product.ProductType, 
                   dbo.Product.Price, dbo.Product.ActivityPrice, dbo.Product.discount, dbo.Product.discountType, dbo.Product.ProductNum, 
                   dbo.Product.ProductIntroduce, dbo.Product.ProductStarNum, dbo.Product.ProductState, dbo.Product.ProductStock, 
                   dbo.Product.AddDate, dbo.ShopProductTypes.ProductTypeName, dbo.ShopProductTypes.ProductDesc, 
                   dbo.ShopProductTypes.TypeName, dbo.ShopProductStarRating.StarNum, dbo.ShopProductStarRating.StarDesc, 
                   dbo.ShopProductStarRating.Star1, dbo.ShopProductStarRating.Star2, dbo.ShopProductStarRating.Star3, 
                   dbo.ShopProductStarRating.Star4, dbo.ShopProductStarRating.Star5, dbo.ShopProductStarRating.StarType, 
                   dbo.ShopProductStarRating.StarOrder,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 1)) AS ImgPath1,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 2)) AS ImgPath2, 
                   dbo.Shop.ShopName, dbo.Shop.ShopIntroduce, dbo.Shop.ShopAddress, dbo.Shop.ShopMobile, dbo.Shop.ShopBoss, 
                   dbo.Shop.ShopOpenTime, dbo.Shop.ShopStarNum, dbo.Shop.ShopType, dbo.Shop.ShopState
FROM      dbo.Product INNER JOIN
                   dbo.ShopProductStarRating ON dbo.Product.ProductStarNum = dbo.ShopProductStarRating.StarNum INNER JOIN
                   dbo.ShopProductTypes ON dbo.Product.ProductType = dbo.ShopProductTypes.ProductType INNER JOIN
                   dbo.Shop ON dbo.Product.ShopID = dbo.Shop.ShopID
GO
/****** Object:  Table [dbo].[ShopImage]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopImage](
	[ImgID] [int] IDENTITY(1001,1) NOT NULL,
	[ShopID] [nvarchar](100) NULL,
	[ProductID] [nvarchar](100) NULL,
	[UserID] [nvarchar](50) NULL,
	[ImgType] [nvarchar](20) NULL,
	[ImgName] [nvarchar](50) NULL,
	[ImgPath] [nvarchar](1000) NULL,
	[ImgSize] [nvarchar](50) NULL,
	[ImgOrderby] [int] NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ShopImage] PRIMARY KEY CLUSTERED 
(
	[ImgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SupShopdetailView]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SupShopdetailView]
AS
SELECT  dbo.Shop.ID, dbo.Shop.ShopID, dbo.Shop.ShopName, dbo.Shop.ShopIntroduce, dbo.Shop.ShopAddress, 
                   dbo.Shop.ShopMobile, dbo.Shop.ShopBoss, dbo.Shop.ShopOpenTime, dbo.Shop.ShopStarNum, dbo.Shop.ShopType, 
                   dbo.Shop.ShopState, dbo.Shop.AddDate, dbo.ShopImage.ImgID, dbo.ShopImage.ImgType, dbo.ShopImage.ImgName, 
                   dbo.ShopImage.ImgPath, dbo.ShopImage.ImgSize, dbo.ShopImage.ImgOrderby, dbo.ShopImage.AddDate AS ImgAddDate, 
                   dbo.ShopProductStarRating.StarNum, dbo.ShopProductStarRating.StarDesc, dbo.ShopProductStarRating.Star1, 
                   dbo.ShopProductStarRating.Star2, dbo.ShopProductStarRating.Star3, dbo.ShopProductStarRating.Star4, 
                   dbo.ShopProductStarRating.Star5, dbo.ShopProductStarRating.StarType, dbo.ShopProductStarRating.StarOrder, 
                   dbo.ShopProductTypes.ProductTypeName, dbo.ShopProductTypes.ProductDesc, 
                   dbo.ShopProductTypes.TypeName
FROM      dbo.Shop INNER JOIN
                   dbo.ShopImage ON dbo.Shop.ShopID = dbo.ShopImage.ShopID INNER JOIN
                   dbo.ShopProductStarRating ON dbo.Shop.ShopStarNum = dbo.ShopProductStarRating.StarNum INNER JOIN
                   dbo.ShopProductTypes ON dbo.Shop.ShopType = dbo.ShopProductTypes.ProductType
GO
/****** Object:  Table [dbo].[ProductOrder]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOrder](
	[OrderID] [int] IDENTITY(1001,1) NOT NULL,
	[OrderNo] [nvarchar](50) NOT NULL,
	[UserID] [nvarchar](100) NOT NULL,
	[OrderName] [nvarchar](50) NULL,
	[OrderAmountPrice] [decimal](18, 2) NULL,
	[OrderDiscountPrice] [decimal](18, 2) NULL,
	[OrderSumPrice] [decimal](18, 2) NULL,
	[OrderNum] [int] NULL,
	[OrderType] [int] NOT NULL,
	[OrderState] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ShopOrder] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOrderDetail]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOrderDetail](
	[DetailID] [int] IDENTITY(1001,1) NOT NULL,
	[OrderNo] [nvarchar](50) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[ShopID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](100) NOT NULL,
	[ProductPrice] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[OrderProductNum] [int] NULL,
	[OrderDetailState] [int] NOT NULL,
 CONSTRAINT [PK_ShopOrderDetail] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SupUserOrderdetailView]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SupUserOrderdetailView]
AS
SELECT  dbo.Users.UserID, dbo.ProductOrder.OrderID, dbo.ProductOrder.OrderNo, dbo.ProductOrder.UserID AS Expr1, 
                   dbo.ProductOrder.OrderName, dbo.ProductOrder.OrderAmountPrice, dbo.ProductOrder.OrderDiscountPrice, 
                   dbo.ProductOrder.OrderSumPrice, dbo.ProductOrder.OrderNum, dbo.ProductOrder.OrderType, 
                   dbo.ProductOrder.OrderState, dbo.ProductOrder.OrderDate, dbo.ProductOrderDetail.DetailID, 
                   dbo.ProductOrderDetail.ProductPrice, dbo.ProductOrderDetail.DiscountPrice, dbo.ProductOrderDetail.OrderProductNum, 
                   dbo.ProductOrderDetail.OrderDetailState, dbo.Product.ProductID, dbo.Product.ShopID, dbo.Product.ProductName, 
                   dbo.Product.ProductType, dbo.Product.Price, dbo.Product.ActivityPrice, dbo.Product.discount, dbo.Product.discountType, 
                   dbo.Product.ProductNum, dbo.Product.ProductIntroduce, dbo.Product.ProductStarNum, dbo.Product.ProductState, 
                   dbo.Product.ProductStock, dbo.Product.AddDate, dbo.ShopProductTypes.ProductTypeName, 
                   dbo.ShopProductTypes.ProductDesc, dbo.ShopProductTypes.TypeName,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 1)) AS ImgPath1,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 2)) AS ImgPath2
FROM      dbo.Users INNER JOIN
                   dbo.ProductOrder ON dbo.Users.UserID = dbo.ProductOrder.UserID INNER JOIN
                   dbo.ProductOrderDetail ON dbo.ProductOrder.OrderNo = dbo.ProductOrderDetail.OrderNo INNER JOIN
                   dbo.Product ON dbo.ProductOrderDetail.ProductID = dbo.Product.ProductID INNER JOIN
                   dbo.ShopProductTypes ON dbo.Product.ProductType = dbo.ShopProductTypes.ProductType
GO
/****** Object:  Table [dbo].[UserLike]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLike](
	[LikeID] [int] NOT NULL,
	[UserID] [nvarchar](100) NOT NULL,
	[ProductID] [nvarchar](100) NULL,
	[ShopID] [nvarchar](100) NULL,
	[LikeType] [int] NOT NULL,
	[AddDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SupUserLikeProductView]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SupUserLikeProductView]
AS
SELECT  dbo.Users.UserID, dbo.UserLike.LikeID, dbo.UserLike.ProductID, dbo.UserLike.ShopID, dbo.UserLike.LikeType, 
                   dbo.UserLike.AddDate, dbo.Product.ProductName, dbo.Product.ProductType, dbo.Product.Price, 
                   dbo.Product.ActivityPrice, dbo.Product.discount, dbo.Product.discountType, dbo.Product.ProductNum, 
                   dbo.Product.ProductIntroduce, dbo.Product.ProductStarNum, dbo.Product.ProductState, dbo.Product.ProductStock, 
                   dbo.ShopProductStarRating.StarNum, dbo.ShopProductStarRating.StarDesc, dbo.ShopProductStarRating.Star1, 
                   dbo.ShopProductStarRating.Star2, dbo.ShopProductStarRating.Star3, dbo.ShopProductStarRating.Star4, 
                   dbo.ShopProductStarRating.Star5, dbo.ShopProductStarRating.StarType, dbo.ShopProductStarRating.StarOrder, 
                   dbo.ShopProductTypes.ProductTypeName, dbo.ShopProductTypes.ProductDesc, dbo.ShopProductTypes.TypeName,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 1)) AS ImgPath1,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 2)) AS ImgPath2
FROM      dbo.Users INNER JOIN
                   dbo.UserLike ON dbo.Users.UserID = dbo.UserLike.UserID INNER JOIN
                   dbo.Product ON dbo.UserLike.ProductID = dbo.Product.ProductID INNER JOIN
                   dbo.ShopProductStarRating ON dbo.Product.ProductStarNum = dbo.ShopProductStarRating.StarNum INNER JOIN
                   dbo.ShopProductTypes ON dbo.Product.ProductType = dbo.ShopProductTypes.ProductType
GO
/****** Object:  View [dbo].[SupUserLikeShopView]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SupUserLikeShopView]
AS
SELECT  dbo.UserLike.UserID, dbo.UserLike.ShopID, dbo.UserLike.AddDate, dbo.Shop.ShopName, dbo.Shop.ShopIntroduce, 
                   dbo.Shop.ShopAddress, dbo.Shop.ShopMobile, dbo.Shop.ShopBoss, dbo.Shop.ShopOpenTime, dbo.Shop.ShopStarNum, 
                   dbo.Shop.ShopType, dbo.Shop.ShopState, dbo.ShopProductStarRating.StarNum, dbo.ShopProductStarRating.StarDesc, 
                   dbo.ShopProductStarRating.Star1, dbo.ShopProductStarRating.Star2, dbo.ShopProductStarRating.Star3, 
                   dbo.ShopProductStarRating.Star4, dbo.ShopProductStarRating.Star5, dbo.ShopProductStarRating.StarType, 
                   dbo.ShopProductStarRating.StarOrder, dbo.ShopProductTypes.ProductTypeName, dbo.ShopProductTypes.ProductDesc, 
                   dbo.ShopProductTypes.TypeName,
                       (SELECT  ImgPath
                        FROM       dbo.ShopImage AS g
                        WHERE    (ShopID = dbo.Shop.ShopID) AND (ImgType = 1) AND (ImgOrderby = 1)) AS ImgPath1,
                       (SELECT  ImgPath
                        FROM       dbo.ShopImage AS g
                        WHERE    (ShopID = dbo.Shop.ShopID) AND (ImgType = 1) AND (ImgOrderby = 2)) AS ImgPath2
FROM      dbo.UserLike INNER JOIN
                   dbo.Shop ON dbo.UserLike.ShopID = dbo.Shop.ShopID INNER JOIN
                   dbo.ShopProductStarRating ON dbo.Shop.ShopStarNum = dbo.ShopProductStarRating.StarNum INNER JOIN
                   dbo.ShopProductTypes ON dbo.Shop.ShopType = dbo.ShopProductTypes.ProductType
GO
/****** Object:  Table [dbo].[ProductPorderLogistics]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPorderLogistics](
	[LogisticsID] [int] NOT NULL,
	[DetailID] [int] NULL,
	[ExpressID] [nvarchar](200) NULL,
	[ExpressCompany] [nvarchar](100) NULL,
	[ExpressType] [int] NULL,
	[ExpressDesc] [nvarchar](500) NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductPorderLogistics] PRIMARY KEY CLUSTERED 
(
	[LogisticsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SupUserOrderLogisticView]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SupUserOrderLogisticView]
AS
SELECT  dbo.ProductOrderDetail.DetailID, dbo.ProductOrderDetail.OrderNo, dbo.ProductOrderDetail.UserID, 
                   dbo.ProductOrderDetail.ShopID, dbo.ProductOrderDetail.ProductID, dbo.ProductOrderDetail.ProductPrice, 
                   dbo.ProductOrderDetail.DiscountPrice, dbo.ProductOrderDetail.OrderProductNum, 
                   dbo.ProductOrderDetail.OrderDetailState, dbo.ProductPorderLogistics.LogisticsID, 
                   dbo.ProductPorderLogistics.ExpressID, dbo.ProductPorderLogistics.ExpressCompany, 
                   dbo.ProductPorderLogistics.ExpressType, dbo.ProductPorderLogistics.ExpressDesc, 
                   dbo.ProductPorderLogistics.AddDate, dbo.Product.ProductName, dbo.Product.ProductType, dbo.Product.Price, 
                   dbo.Product.ActivityPrice, dbo.Product.discount, dbo.Product.discountType, dbo.Product.ProductNum, 
                   dbo.Product.ProductIntroduce, dbo.Product.ProductStarNum, dbo.Product.ProductState, dbo.Product.ProductStock,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 1)) AS ImgPath1,
                       (SELECT  ImgPath
                        FROM       dbo.ProductImage AS g
                        WHERE    (ProductID = dbo.Product.ProductID) AND (ImgType = 1) AND (ImgOrderby = 2)) AS ImgPath2
FROM      dbo.ProductOrderDetail INNER JOIN
                   dbo.ProductPorderLogistics ON dbo.ProductOrderDetail.DetailID = dbo.ProductPorderLogistics.DetailID INNER JOIN
                   dbo.Product ON dbo.ProductOrderDetail.ProductID = dbo.Product.ProductID
GO
/****** Object:  View [dbo].[SupProductdetailView]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SupProductdetailView]
AS
SELECT  dbo.Product.ID, dbo.Product.ProductID, dbo.Product.ShopID, dbo.Product.ProductName, dbo.Product.ProductType, 
                   dbo.Product.Price, dbo.Product.ActivityPrice, dbo.Product.discount, dbo.Product.discountType, dbo.Product.ProductNum, 
                   dbo.Product.ProductIntroduce, dbo.Product.ProductStarNum, dbo.Product.ProductState, dbo.Product.ProductStock, 
                   dbo.Product.AddDate, dbo.ProductImage.ImgID, dbo.ProductImage.ImgType, dbo.ProductImage.ImgName, 
                   dbo.ProductImage.ImgPath, dbo.ProductImage.ImgSize, dbo.ProductImage.ImgOrderby, dbo.ProductImage.ImgState, 
                   dbo.ProductImage.AddDate AS ImgAddDate, dbo.ShopProductTypes.ProductTypeName, 
                   dbo.ShopProductTypes.ProductDesc, dbo.ShopProductTypes.TypeName, dbo.ShopProductStarRating.StarNum, 
                   dbo.ShopProductStarRating.StarDesc, dbo.ShopProductStarRating.Star1, dbo.ShopProductStarRating.Star2, 
                   dbo.ShopProductStarRating.Star3, dbo.ShopProductStarRating.Star4, dbo.ShopProductStarRating.Star5, 
                   dbo.ShopProductStarRating.StarType, dbo.ShopProductStarRating.StarOrder, dbo.Shop.ShopName, 
                   dbo.Shop.ShopIntroduce, dbo.Shop.ShopAddress, dbo.Shop.ShopMobile, dbo.Shop.ShopBoss, dbo.Shop.ShopOpenTime, 
                   dbo.Shop.ShopStarNum, dbo.Shop.ShopType, dbo.Shop.ShopState, dbo.Shop.AddDate AS ShopAddDate
FROM      dbo.Product INNER JOIN
                   dbo.ProductImage ON dbo.Product.ProductID = dbo.ProductImage.ProductID INNER JOIN
                   dbo.ShopProductTypes ON dbo.Product.ProductType = dbo.ShopProductTypes.ProductType INNER JOIN
                   dbo.ShopProductStarRating ON dbo.Product.ProductStarNum = dbo.ShopProductStarRating.StarNum LEFT OUTER JOIN
                   dbo.Shop ON dbo.Product.ShopID = dbo.Shop.ShopID AND dbo.ShopProductTypes.ProductType = dbo.Shop.ShopType AND
                    dbo.ShopProductStarRating.StarNum = dbo.Shop.ShopStarNum
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BannerImage]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannerImage](
	[BannerID] [int] IDENTITY(1001,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Path] [nvarchar](1000) NULL,
	[Paths] [nvarchar](1000) NULL,
	[Title] [nvarchar](150) NULL,
	[TitleDesc] [nvarchar](300) NULL,
	[TitleDescs] [nvarchar](500) NULL,
	[Text_1] [nvarchar](500) NULL,
	[Text_2] [nvarchar](500) NULL,
	[Text_3] [nvarchar](500) NULL,
	[State] [int] NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BannerImage] PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCollect]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCollect](
	[CollectID] [int] IDENTITY(1001,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[ShopID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ShopCollect] PRIMARY KEY CLUSTERED 
(
	[CollectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCommentReply]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCommentReply](
	[CommreplyID] [int] IDENTITY(1001,1) NOT NULL,
	[CommentID] [int] NOT NULL,
	[UserID] [nvarchar](100) NOT NULL,
	[toUserID] [nvarchar](100) NULL,
	[ComText] [nvarchar](500) NULL,
	[addDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductCommentReply] PRIMARY KEY CLUSTERED 
(
	[CommreplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStars]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStars](
	[StarID] [int] IDENTITY(1,101) NOT NULL,
	[StarType] [int] NULL,
	[StarTxt] [nvarchar](20) NULL,
	[StarDesc] [nvarchar](200) NULL,
	[StarNum] [decimal](5, 2) NULL,
	[StarOrderby] [int] NULL,
	[State] [int] NULL,
	[AddDate] [datetime] NULL,
 CONSTRAINT [PK_ProductStars] PRIMARY KEY CLUSTERED 
(
	[StarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TitleList]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleList](
	[TitleID] [int] IDENTITY(1001,1) NOT NULL,
	[about] [nvarchar](50) NULL,
	[TitleDesc] [nvarchar](250) NULL,
	[Title] [nvarchar](50) NULL,
	[TitleUrl] [nvarchar](500) NULL,
	[TitleClass] [nvarchar](50) NULL,
	[TitleClass1] [nvarchar](50) NULL,
	[TitleClass2] [nvarchar](50) NULL,
	[TitleClass3] [nvarchar](50) NULL,
	[Titleothername] [nvarchar](50) NULL,
	[TitleOrderby] [int] NOT NULL,
	[State] [int] NOT NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TitleList] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddress]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddress](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Mobile] [nvarchar](11) NULL,
	[Province] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Area] [nvarchar](50) NULL,
	[Town] [nvarchar](50) NULL,
	[DetailAddress] [nvarchar](100) NULL,
	[State] [int] NULL,
	[Other] [nvarchar](200) NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLoginLog]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLoginLog](
	[LogID] [int] IDENTITY(1001,1) NOT NULL,
	[UserID] [nvarchar](100) NOT NULL,
	[LoginIP] [nvarchar](250) NULL,
	[LoginVpnIP1] [nvarchar](250) NULL,
	[LoginVpnIP2] [nvarchar](250) NULL,
	[LoginVpnIP3] [nvarchar](250) NULL,
	[LoginState] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_UserLoginLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLookProduct]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLookProduct](
	[LookID] [int] IDENTITY(1001,1) NOT NULL,
	[UserID] [nvarchar](100) NULL,
	[PoductID] [nvarchar](100) NULL,
	[ShopID] [nvarchar](100) NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserLookProduct] PRIMARY KEY CLUSTERED 
(
	[LookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSearch]    Script Date: 2022/7/4 17:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSearch](
	[searchID] [int] IDENTITY(1001,1) NOT NULL,
	[UserID] [nvarchar](100) NULL,
	[SearchName] [nvarchar](250) NULL,
	[AddDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserSearch] PRIMARY KEY CLUSTERED 
(
	[searchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220415035847_Userschange', N'6.0.4')
GO
SET IDENTITY_INSERT [dbo].[BannerImage] ON 

INSERT [dbo].[BannerImage] ([BannerID], [Type], [Path], [Paths], [Title], [TitleDesc], [TitleDescs], [Text_1], [Text_2], [Text_3], [State], [AddDate]) VALUES (1001, N'1', N'/images/other/1.jpg', NULL, N'轮播图片标题', N'轮播图片内容', N'反对大幅度反对法大幅度', NULL, NULL, NULL, 1, CAST(N'2022-04-21T10:30:13.320' AS DateTime))
INSERT [dbo].[BannerImage] ([BannerID], [Type], [Path], [Paths], [Title], [TitleDesc], [TitleDescs], [Text_1], [Text_2], [Text_3], [State], [AddDate]) VALUES (1002, N'1', N'/images/other/2.jpg', NULL, N'轮播图片标题2', N'轮播图片内容2', N'和饭否官方和复活节', NULL, NULL, NULL, 1, CAST(N'2022-04-21T10:30:19.870' AS DateTime))
INSERT [dbo].[BannerImage] ([BannerID], [Type], [Path], [Paths], [Title], [TitleDesc], [TitleDescs], [Text_1], [Text_2], [Text_3], [State], [AddDate]) VALUES (1003, N'1', N'/images/other/3.jpg', NULL, N'轮播图片标题3', N'333', N'也同样特认为全球企业', NULL, NULL, NULL, 1, CAST(N'2022-04-21T10:30:21.250' AS DateTime))
SET IDENTITY_INSERT [dbo].[BannerImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [ProductID], [ShopID], [ProductName], [ProductType], [Price], [ActivityPrice], [discount], [discountType], [ProductNum], [ProductIntroduce], [ProductStarNum], [ProductState], [ProductStock], [AddDate]) VALUES (1001, N'wx-10001', N'SD-2022042115', N'薯条', 101, CAST(9.90 AS Decimal(18, 2)), CAST(8.00 AS Decimal(18, 2)), CAST(0.80 AS Decimal(5, 2)), 0, 100, N'美味薯条，你值得拥有。', CAST(4.50 AS Decimal(5, 2)), 1, 1000, CAST(N'2022-06-17T00:00:00.000' AS DateTime))
INSERT [dbo].[Product] ([ID], [ProductID], [ShopID], [ProductName], [ProductType], [Price], [ActivityPrice], [discount], [discountType], [ProductNum], [ProductIntroduce], [ProductStarNum], [ProductState], [ProductStock], [AddDate]) VALUES (1003, N'wx-10003', N'SD-2022042115', N'试试哇哇哇哇哇哇哇哇哇哇哇哇哇哇哇哇哇', 101, CAST(19.90 AS Decimal(18, 2)), CAST(19.90 AS Decimal(18, 2)), CAST(1.00 AS Decimal(5, 2)), 1, 0, N'方式发送给然后优酷一份节能环保的v', CAST(4.00 AS Decimal(5, 2)), 1, 1000, CAST(N'2022-04-27T14:02:36.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCart] ON 

INSERT [dbo].[ProductCart] ([CartID], [UserID], [ProductID], [ProductCartNum], [ProductPrice], [CartType], [AddDate]) VALUES (1001, N'US202206141001', N'wx-10002', 2, CAST(199.00 AS Decimal(18, 2)), 1, CAST(N'2022-06-11T00:00:00.000' AS DateTime))
INSERT [dbo].[ProductCart] ([CartID], [UserID], [ProductID], [ProductCartNum], [ProductPrice], [CartType], [AddDate]) VALUES (1002, N'US202206141001', N'wx-10005', 2, CAST(199.00 AS Decimal(18, 2)), 1, CAST(N'2022-06-17T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductCart] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ImgID], [ShopID], [ProductID], [ImgType], [ImgName], [ImgPath], [ImgSize], [ImgOrderby], [ImgState], [AddDate]) VALUES (1001, N'SD-2022042115', N'wx-10001', N'1', N'主图', N'/images/other/small223420RYybl1641220460.jpg', NULL, 1, 1, CAST(N'2022-04-25T09:27:40.710' AS DateTime))
INSERT [dbo].[ProductImage] ([ImgID], [ShopID], [ProductID], [ImgType], [ImgName], [ImgPath], [ImgSize], [ImgOrderby], [ImgState], [AddDate]) VALUES (1002, N'SD-2022042115', N'wx-10001', N'1', N'副主图', N'/images/other/fadf8f4844ebceedaa41956a889608b5.jpg', NULL, 2, 1, CAST(N'2022-04-25T09:27:40.000' AS DateTime))
INSERT [dbo].[ProductImage] ([ImgID], [ShopID], [ProductID], [ImgType], [ImgName], [ImgPath], [ImgSize], [ImgOrderby], [ImgState], [AddDate]) VALUES (1003, N'SD-2022042115', N'wx-10001', N'2', N'副图', N'/images/other/small223420RYybl1641220460.jpg', NULL, 1, 1, CAST(N'2022-04-25T09:27:40.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStars] ON 

INSERT [dbo].[ProductStars] ([StarID], [StarType], [StarTxt], [StarDesc], [StarNum], [StarOrderby], [State], [AddDate]) VALUES (101, NULL, N'星级评分', N'<i class="fa fa-star-o"></i>', CAST(0.00 AS Decimal(5, 2)), 1, 1, NULL)
INSERT [dbo].[ProductStars] ([StarID], [StarType], [StarTxt], [StarDesc], [StarNum], [StarOrderby], [State], [AddDate]) VALUES (102, NULL, N'星级评分', N'<i class="fa fa-star-o"></i>', CAST(0.00 AS Decimal(5, 2)), 2, 1, NULL)
INSERT [dbo].[ProductStars] ([StarID], [StarType], [StarTxt], [StarDesc], [StarNum], [StarOrderby], [State], [AddDate]) VALUES (103, NULL, N'星级评分', N'<i class="fa fa-star-o"></i>', CAST(0.00 AS Decimal(5, 2)), 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[ProductStars] OFF
GO
SET IDENTITY_INSERT [dbo].[Shop] ON 

INSERT [dbo].[Shop] ([ID], [ShopID], [UserID], [ShopName], [ShopIntroduce], [ShopAddress], [ShopMobile], [ShopBoss], [ShopOpenTime], [ShopStarNum], [ShopType], [ShopState], [AddDate]) VALUES (1001, N'SD-2022042115', N'US202206141001', N'万物商店', N'应有尽有，无所不有，在这里没有你找不到的东西，只有你想不到！', N'珠海市香洲区', N'18377412687', N'夜老板', NULL, CAST(4.50 AS Decimal(5, 2)), 103, 1, CAST(N'2022-04-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Shop] ([ID], [ShopID], [UserID], [ShopName], [ShopIntroduce], [ShopAddress], [ShopMobile], [ShopBoss], [ShopOpenTime], [ShopStarNum], [ShopType], [ShopState], [AddDate]) VALUES (1002, N'SD-2022042116', N'US202206141001', N'万物商店222', N'应有尽有，无所不有，在这里没有你找不到的东西，只有你想不到！', N'珠海市香洲区', N'18377412687', N'夜老板222', NULL, CAST(4.50 AS Decimal(5, 2)), 103, 1, CAST(N'2022-04-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shop] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopImage] ON 

INSERT [dbo].[ShopImage] ([ImgID], [ShopID], [ProductID], [UserID], [ImgType], [ImgName], [ImgPath], [ImgSize], [ImgOrderby], [AddDate]) VALUES (1001, N'SD-2022042115', N'wx-10001', NULL, N'1', N'主图', N'/images/other/small223420RYybl1641220460.jpg', NULL, 1, CAST(N'2022-06-17T00:00:00.000' AS DateTime))
INSERT [dbo].[ShopImage] ([ImgID], [ShopID], [ProductID], [UserID], [ImgType], [ImgName], [ImgPath], [ImgSize], [ImgOrderby], [AddDate]) VALUES (1002, N'SD-2022042115', N'wx-10001', NULL, N'1', N'副主图', N'/images/other/fadf8f4844ebceedaa41956a889608b5.jpg', NULL, 2, CAST(N'2022-06-17T00:00:00.000' AS DateTime))
INSERT [dbo].[ShopImage] ([ImgID], [ShopID], [ProductID], [UserID], [ImgType], [ImgName], [ImgPath], [ImgSize], [ImgOrderby], [AddDate]) VALUES (1003, N'SD-2022042115', N'wx-10001', NULL, N'2', N'副主图', N'/images/other/small223420RYybl1641220460.jpg', NULL, 1, CAST(N'2022-06-17T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ShopImage] OFF
GO
INSERT [dbo].[ShopProductStarRating] ([StarNum], [StarDesc], [Star1], [Star2], [Star3], [Star4], [Star5], [StarType], [StarOrder]) VALUES (CAST(0.00 AS Decimal(5, 2)), N'星级评分', N'fa fa-star-o', N'fa fa-star-o', N'fa fa-star-o', N'fa fa-star-o', N'fa fa-star-o', 1, 1)
INSERT [dbo].[ShopProductStarRating] ([StarNum], [StarDesc], [Star1], [Star2], [Star3], [Star4], [Star5], [StarType], [StarOrder]) VALUES (CAST(0.50 AS Decimal(5, 2)), N'星级评分', N'fa fa-star-half-o', N'fa fa-star-o', N'fa fa-star-o', N'fa fa-star-o', N'fa fa-star-o', 1, 2)
INSERT [dbo].[ShopProductStarRating] ([StarNum], [StarDesc], [Star1], [Star2], [Star3], [Star4], [Star5], [StarType], [StarOrder]) VALUES (CAST(1.00 AS Decimal(5, 2)), N'星级评分', N'fa fa-star', N'fa fa-star-o', N'fa fa-star-o', N'fa fa-star-o', N'fa fa-star-o', 1, 3)
GO
INSERT [dbo].[ShopProductTypes] ([ProductType], [ProductTypeName], [ProductDesc], [TypeName]) VALUES (101, N'食品类', NULL, N'SP')
INSERT [dbo].[ShopProductTypes] ([ProductType], [ProductTypeName], [ProductDesc], [TypeName]) VALUES (102, N'服饰类', NULL, N'FS')
INSERT [dbo].[ShopProductTypes] ([ProductType], [ProductTypeName], [ProductDesc], [TypeName]) VALUES (103, N'洗护类', NULL, N'XH')
GO
SET IDENTITY_INSERT [dbo].[TitleList] ON 

INSERT [dbo].[TitleList] ([TitleID], [about], [TitleDesc], [Title], [TitleUrl], [TitleClass], [TitleClass1], [TitleClass2], [TitleClass3], [Titleothername], [TitleOrderby], [State], [AddDate]) VALUES (1001, N'menu', N'手办周边', N'手办', NULL, NULL, NULL, NULL, NULL, N'SB', 1, 1, CAST(N'2022-04-20T17:08:08.737' AS DateTime))
INSERT [dbo].[TitleList] ([TitleID], [about], [TitleDesc], [Title], [TitleUrl], [TitleClass], [TitleClass1], [TitleClass2], [TitleClass3], [Titleothername], [TitleOrderby], [State], [AddDate]) VALUES (1002, N'menu', N'图书漫画', N'书画', NULL, NULL, NULL, NULL, NULL, N'SH', 2, 1, CAST(N'2022-04-20T17:08:21.570' AS DateTime))
INSERT [dbo].[TitleList] ([TitleID], [about], [TitleDesc], [Title], [TitleUrl], [TitleClass], [TitleClass1], [TitleClass2], [TitleClass3], [Titleothername], [TitleOrderby], [State], [AddDate]) VALUES (1003, N'menu', N'服装服饰', N'服饰', NULL, NULL, NULL, NULL, NULL, N'FS', 3, 1, CAST(N'2022-04-20T17:08:37.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[TitleList] OFF
GO
SET IDENTITY_INSERT [dbo].[UserImageList] ON 

INSERT [dbo].[UserImageList] ([ID], [ImgID], [UserID], [UserImagePath], [ImgSize], [ImgWidth], [ImgHeight], [ImgState], [ImgType], [AddDate]) VALUES (1001, N'1001', N'US202206141001', N'/images/other/small223420RYybl1641220460.jpg', N'1', 100, 100, 1, 1, CAST(N'2022-06-22T09:41:48.790' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserImageList] OFF
GO
INSERT [dbo].[Users] ([UserID], [Account], [Password], [UserName], [UserEmail], [Sex], [Age], [Introduce], [Address], [Birthday], [CreatedAt], [UserType], [UserState], [AddDate]) VALUES (N'22222', N'1', N'WeJshcoLZU1YpedlWyAsgA==.ZVNYEgopg8NGxdq1+CBacCEGHA3meAlYXEUpatkYQuo=', N'新用户', NULL, N'3   ', NULL, NULL, NULL, NULL, NULL, 1, 1, CAST(N'2022-07-01T17:15:33.850' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Account], [Password], [UserName], [UserEmail], [Sex], [Age], [Introduce], [Address], [Birthday], [CreatedAt], [UserType], [UserState], [AddDate]) VALUES (N'US202206141001', N'123456', N'oBHRGubEPQZwNKQQxO5orw==.RcMtQNgyrcLlOChESqnBe8FieSmSWjFKkGnQ37eKzxY=', N'新用户', NULL, N'3   ', NULL, NULL, NULL, NULL, NULL, 2, 1, NULL)
INSERT [dbo].[Users] ([UserID], [Account], [Password], [UserName], [UserEmail], [Sex], [Age], [Introduce], [Address], [Birthday], [CreatedAt], [UserType], [UserState], [AddDate]) VALUES (N'US202206141002', N'111', N'zOsCynopqck2z3j5PjwH7g==.kjYR54C3wXlAYOJZH54ZNEkLXhIe5Z1orITnhlCgQm4=', N'新用户', NULL, N'3   ', NULL, NULL, NULL, NULL, NULL, 1, 1, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductID]    Script Date: 2022/7/4 17:52:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[Product]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShopID]    Script Date: 2022/7/4 17:52:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ShopID] ON [dbo].[Shop]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_Users]    Script Date: 2022/7/4 17:52:39 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [PK_Users] PRIMARY KEY NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BannerImage] ADD  CONSTRAINT [DF_BannerImage_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_discountType]  DEFAULT ((0)) FOR [discountType]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_ProductNum]  DEFAULT ((0)) FOR [ProductNum]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[ProductCart] ADD  CONSTRAINT [DF_ShopCar_ShopNum]  DEFAULT ((1)) FOR [ProductCartNum]
GO
ALTER TABLE [dbo].[ProductCart] ADD  CONSTRAINT [DF_ShopCar_CarType]  DEFAULT ((1)) FOR [CartType]
GO
ALTER TABLE [dbo].[ProductCart] ADD  CONSTRAINT [DF_ProductCart_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[ProductCollect] ADD  CONSTRAINT [DF_ProductCollect_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[ProductComment] ADD  CONSTRAINT [DF_ShopComment_CommentType]  DEFAULT ((1)) FOR [CommentType]
GO
ALTER TABLE [dbo].[ProductComment] ADD  CONSTRAINT [DF_ShopComment_CommentState]  DEFAULT ((1)) FOR [CommentState]
GO
ALTER TABLE [dbo].[ProductComment] ADD  CONSTRAINT [DF_ProductComment_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[ProductCommentImage] ADD  CONSTRAINT [DF_ProductCommentImage_ComState]  DEFAULT ((1)) FOR [ComState]
GO
ALTER TABLE [dbo].[ProductCommentImage] ADD  CONSTRAINT [DF_ProductCommentImage_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[ProductCommentLike] ADD  CONSTRAINT [DF_ProductCommentLike_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[ProductCommentReply] ADD  CONSTRAINT [DF_ProductCommentReply_addDate]  DEFAULT (getdate()) FOR [addDate]
GO
ALTER TABLE [dbo].[ProductImage] ADD  CONSTRAINT [DF_ProductImage_ImgState]  DEFAULT ((1)) FOR [ImgState]
GO
ALTER TABLE [dbo].[ProductImage] ADD  CONSTRAINT [DF_ProductImage_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[ProductOrder] ADD  CONSTRAINT [DF_ShopOrder_OrderType]  DEFAULT ((1)) FOR [OrderType]
GO
ALTER TABLE [dbo].[ProductOrder] ADD  CONSTRAINT [DF_ProductOrder_OrderState]  DEFAULT ((1)) FOR [OrderState]
GO
ALTER TABLE [dbo].[ProductOrder] ADD  CONSTRAINT [DF_ProductOrder_OrderDate]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[ProductOrderDetail] ADD  CONSTRAINT [DF_ProductOrderDetail_OrderState]  DEFAULT ((1)) FOR [OrderDetailState]
GO
ALTER TABLE [dbo].[ProductPorderLogistics] ADD  CONSTRAINT [DF_ProductPorderLogistics_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[Shop] ADD  CONSTRAINT [DF_Shop_ShopType]  DEFAULT ((101)) FOR [ShopType]
GO
ALTER TABLE [dbo].[Shop] ADD  CONSTRAINT [DF_Shop_ShopState]  DEFAULT ((1)) FOR [ShopState]
GO
ALTER TABLE [dbo].[Shop] ADD  CONSTRAINT [DF_Shop_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[ShopImage] ADD  CONSTRAINT [DF_ShopImage_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[TitleList] ADD  CONSTRAINT [DF_TitleList_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[UserAddress] ADD  CONSTRAINT [DF_UserAddress_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[UserAddress] ADD  CONSTRAINT [DF_UserAddress_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[UserImageList] ADD  CONSTRAINT [DF_UserImageList_ImgState]  DEFAULT ((1)) FOR [ImgState]
GO
ALTER TABLE [dbo].[UserImageList] ADD  CONSTRAINT [DF_UserImage_ImgType]  DEFAULT ((1)) FOR [ImgType]
GO
ALTER TABLE [dbo].[UserImageList] ADD  CONSTRAINT [DF_UserImageList_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[UserLike] ADD  CONSTRAINT [DF_UserLike_LikeType]  DEFAULT ((1)) FOR [LikeType]
GO
ALTER TABLE [dbo].[UserLike] ADD  CONSTRAINT [DF_UserLike_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[UserLoginLog] ADD  CONSTRAINT [DF_UserLoginLog_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserLookProduct] ADD  CONSTRAINT [DF_UserLookProduct_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserType]  DEFAULT ((1)) FOR [UserType]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserState]  DEFAULT ((1)) FOR [UserState]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[UserSearch] ADD  CONSTRAINT [DF_UserSearch_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductStarRating] FOREIGN KEY([ProductStarNum])
REFERENCES [dbo].[ShopProductStarRating] ([StarNum])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductStarRating]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ShopProductTypes] FOREIGN KEY([ProductType])
REFERENCES [dbo].[ShopProductTypes] ([ProductType])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ShopProductTypes]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Shop_Product] FOREIGN KEY([ShopID])
REFERENCES [dbo].[Shop] ([ShopID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Shop_Product]
GO
ALTER TABLE [dbo].[ProductComment]  WITH CHECK ADD  CONSTRAINT [FK_ProductComment_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductComment] CHECK CONSTRAINT [FK_ProductComment_Product]
GO
ALTER TABLE [dbo].[ProductComment]  WITH CHECK ADD  CONSTRAINT [FK_ProductComment_ShopProductStarRating] FOREIGN KEY([CommentStarNum])
REFERENCES [dbo].[ShopProductStarRating] ([StarNum])
GO
ALTER TABLE [dbo].[ProductComment] CHECK CONSTRAINT [FK_ProductComment_ShopProductStarRating]
GO
ALTER TABLE [dbo].[ProductComment]  WITH CHECK ADD  CONSTRAINT [FK_ProductComment_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductComment] CHECK CONSTRAINT [FK_ProductComment_Users]
GO
ALTER TABLE [dbo].[ProductCommentImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductCommentImage_ProductComment] FOREIGN KEY([ComImgID])
REFERENCES [dbo].[ProductComment] ([CommentID])
GO
ALTER TABLE [dbo].[ProductCommentImage] CHECK CONSTRAINT [FK_ProductCommentImage_ProductComment]
GO
ALTER TABLE [dbo].[ProductCommentReply]  WITH CHECK ADD  CONSTRAINT [FK_ProductCommentReply_ProductComment] FOREIGN KEY([CommentID])
REFERENCES [dbo].[ProductComment] ([CommentID])
GO
ALTER TABLE [dbo].[ProductCommentReply] CHECK CONSTRAINT [FK_ProductCommentReply_ProductComment]
GO
ALTER TABLE [dbo].[ProductImage]  WITH NOCHECK ADD  CONSTRAINT [FK_ProductImage_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_ProductImage_Product]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductImage_Shop] FOREIGN KEY([ShopID])
REFERENCES [dbo].[Shop] ([ShopID])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_ProductImage_Shop]
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD  CONSTRAINT [FK_ProductOrder_ProductOrder] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[ProductOrder] ([OrderNo])
GO
ALTER TABLE [dbo].[ProductOrder] CHECK CONSTRAINT [FK_ProductOrder_ProductOrder]
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD  CONSTRAINT [FK_ProductOrder_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductOrder] CHECK CONSTRAINT [FK_ProductOrder_Users]
GO
ALTER TABLE [dbo].[ProductOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductOrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductOrderDetail] CHECK CONSTRAINT [FK_ProductOrderDetail_Product]
GO
ALTER TABLE [dbo].[ProductOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductOrderDetail_ProductOrder] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[ProductOrder] ([OrderNo])
GO
ALTER TABLE [dbo].[ProductOrderDetail] CHECK CONSTRAINT [FK_ProductOrderDetail_ProductOrder]
GO
ALTER TABLE [dbo].[ProductPorderLogistics]  WITH CHECK ADD  CONSTRAINT [FK_ProductPorderLogistics_ProductOrderDetail] FOREIGN KEY([DetailID])
REFERENCES [dbo].[ProductOrderDetail] ([DetailID])
GO
ALTER TABLE [dbo].[ProductPorderLogistics] CHECK CONSTRAINT [FK_ProductPorderLogistics_ProductOrderDetail]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_ProductStarRating] FOREIGN KEY([ShopStarNum])
REFERENCES [dbo].[ShopProductStarRating] ([StarNum])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_ProductStarRating]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_ShopProductTypes] FOREIGN KEY([ShopType])
REFERENCES [dbo].[ShopProductTypes] ([ProductType])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_ShopProductTypes]
GO
ALTER TABLE [dbo].[ShopImage]  WITH CHECK ADD  CONSTRAINT [FK_ShopImage_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ShopImage] CHECK CONSTRAINT [FK_ShopImage_Product]
GO
ALTER TABLE [dbo].[ShopImage]  WITH CHECK ADD  CONSTRAINT [FK_ShopImage_Shop] FOREIGN KEY([ShopID])
REFERENCES [dbo].[Shop] ([ShopID])
GO
ALTER TABLE [dbo].[ShopImage] CHECK CONSTRAINT [FK_ShopImage_Shop]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress_UserAddress] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_UserAddress_UserAddress]
GO
ALTER TABLE [dbo].[UserImageList]  WITH CHECK ADD  CONSTRAINT [FK_UserImageList_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserImageList] CHECK CONSTRAINT [FK_UserImageList_Users]
GO
ALTER TABLE [dbo].[UserLike]  WITH CHECK ADD  CONSTRAINT [FK_UserLike_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[UserLike] CHECK CONSTRAINT [FK_UserLike_Product]
GO
ALTER TABLE [dbo].[UserLike]  WITH CHECK ADD  CONSTRAINT [FK_UserLike_Shop] FOREIGN KEY([ShopID])
REFERENCES [dbo].[Shop] ([ShopID])
GO
ALTER TABLE [dbo].[UserLike] CHECK CONSTRAINT [FK_UserLike_Shop]
GO
ALTER TABLE [dbo].[UserLike]  WITH CHECK ADD  CONSTRAINT [FK_UserLike_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserLike] CHECK CONSTRAINT [FK_UserLike_Users]
GO
ALTER TABLE [dbo].[UserLookProduct]  WITH CHECK ADD  CONSTRAINT [FK_UserLookProduct_Product] FOREIGN KEY([PoductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[UserLookProduct] CHECK CONSTRAINT [FK_UserLookProduct_Product]
GO
ALTER TABLE [dbo].[UserLookProduct]  WITH CHECK ADD  CONSTRAINT [FK_UserLookProduct_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserLookProduct] CHECK CONSTRAINT [FK_UserLookProduct_Users]
GO
ALTER TABLE [dbo].[UserSearch]  WITH CHECK ADD  CONSTRAINT [FK_UserSearch_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserSearch] CHECK CONSTRAINT [FK_UserSearch_Users]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -120
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Product"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ShopProductStarRating"
            Begin Extent = 
               Top = 215
               Left = 491
               Bottom = 378
               Right = 655
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "ShopProductTypes"
            Begin Extent = 
               Top = 6
               Left = 492
               Bottom = 169
               Right = 724
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Shop"
            Begin Extent = 
               Top = 221
               Left = 49
               Bottom = 384
               Right = 253
            End
            DisplayFlags = 280
            TopColumn = 9
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 13032
         Alias = 1704
         Table = 1848
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1356
         Filter = 1356
         Or = 1350
         Or = 1350
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SuperProductView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SuperProductView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SuperProductView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -360
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Product"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProductImage"
            Begin Extent = 
               Top = 12
               Left = 741
               Bottom = 175
               Right = 925
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "ShopProductTypes"
            Begin Extent = 
               Top = 204
               Left = 48
               Bottom = 367
               Right = 280
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ShopProductStarRating"
            Begin Extent = 
               Top = 201
               Left = 746
               Bottom = 364
               Right = 913
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "Shop"
            Begin Extent = 
               Top = 203
               Left = 388
               Bottom = 366
               Right = 597
            End
            DisplayFlags = 280
            TopColumn = 9
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1560
         Table = 2232
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
       ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupProductdetailView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'  Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupProductdetailView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupProductdetailView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Shop"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 252
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "ShopImage"
            Begin Extent = 
               Top = 7
               Left = 300
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ShopProductStarRating"
            Begin Extent = 
               Top = 234
               Left = 51
               Bottom = 397
               Right = 317
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "ShopProductTypes"
            Begin Extent = 
               Top = 164
               Left = 524
               Bottom = 327
               Right = 756
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2100
         Table = 3240
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupShopdetailView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupShopdetailView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -360
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 219
            End
            DisplayFlags = 280
            TopColumn = 11
         End
         Begin Table = "UserImageList"
            Begin Extent = 
               Top = 7
               Left = 267
               Bottom = 170
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "ProductComment"
            Begin Extent = 
               Top = 194
               Left = 28
               Bottom = 357
               Right = 259
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ShopProductStarRating_1"
            Begin Extent = 
               Top = 193
               Left = 311
               Bottom = 356
               Right = 478
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProductCommentImage"
            Begin Extent = 
               Top = 398
               Left = 28
               Bottom = 561
               Right = 218
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 11964
         Alias = 1428
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserCommentView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserCommentView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserCommentView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -4560
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 221
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UserLike"
            Begin Extent = 
               Top = 7
               Left = 269
               Bottom = 170
               Right = 437
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Product"
            Begin Extent = 
               Top = 7
               Left = 485
               Bottom = 170
               Right = 709
            End
            DisplayFlags = 280
            TopColumn = 11
         End
         Begin Table = "ShopProductStarRating"
            Begin Extent = 
               Top = 7
               Left = 757
               Bottom = 170
               Right = 924
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "ShopProductTypes"
            Begin Extent = 
               Top = 214
               Left = 481
               Bottom = 377
               Right = 713
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 7356
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserLikeProductView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserLikeProductView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserLikeProductView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "UserLike"
            Begin Extent = 
               Top = 6
               Left = 135
               Bottom = 169
               Right = 303
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Shop"
            Begin Extent = 
               Top = 1
               Left = 388
               Bottom = 164
               Right = 597
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ShopProductStarRating"
            Begin Extent = 
               Top = 7
               Left = 742
               Bottom = 170
               Right = 909
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ShopProductTypes"
            Begin Extent = 
               Top = 7
               Left = 957
               Bottom = 170
               Right = 1189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 11832
         Alias = 1536
         Table = 5844
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserLikeShopView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserLikeShopView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 221
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "ProductOrder"
            Begin Extent = 
               Top = 7
               Left = 269
               Bottom = 170
               Right = 464
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProductOrderDetail"
            Begin Extent = 
               Top = 3
               Left = 512
               Bottom = 170
               Right = 753
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "Product"
            Begin Extent = 
               Top = 11
               Left = 809
               Bottom = 174
               Right = 1033
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ShopProductTypes"
            Begin Extent = 
               Top = 194
               Left = 508
               Bottom = 357
               Right = 740
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 11532
         Alias = 1272
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserOrderdetailView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserOrderdetailView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserOrderdetailView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[37] 4[24] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ProductOrderDetail"
            Begin Extent = 
               Top = 16
               Left = 66
               Bottom = 179
               Right = 297
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "ProductPorderLogistics"
            Begin Extent = 
               Top = 6
               Left = 447
               Bottom = 169
               Right = 666
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "Product"
            Begin Extent = 
               Top = 200
               Left = 69
               Bottom = 363
               Right = 293
            End
            DisplayFlags = 280
            TopColumn = 11
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 9576
         Alias = 1704
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserOrderLogisticView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserOrderLogisticView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 221
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProductCart"
            Begin Extent = 
               Top = 7
               Left = 269
               Bottom = 170
               Right = 487
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Product"
            Begin Extent = 
               Top = 7
               Left = 535
               Bottom = 170
               Right = 759
            End
            DisplayFlags = 280
            TopColumn = 11
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 12528
         Alias = 1236
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserProductCartView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SupUserProductCartView'
GO
USE [master]
GO
